body {
    margin: 0;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: linear-gradient(crimson, red);
}

.paper {
    width: 90vw;
    max-width: 420px;
    min-height: 80vh;

    background: white;
    padding: 24px;

    text-align: center;
}

.page1 h1 {
    position: fixed;
    top: 35px;

    color: whitesmoke;
    font-size: 3vw;
    font-weight: 300px;

    border-top: 2px solid;
    border-bottom: 2px solid;

    text-align: center;
}

.page2 h1 {
    color: aliceblue;
}

a {
    text-decoration: none;
    color: black;
}

.btn {
    display: flex;
    flex-direction: column;

    gap: 20px;
}



.love:hover {
    transform: translateY(-5px);
    background: linear-gradient(red, whitesmoke, lightpink);
    font-size: 25px;
    color: green;
}

.no:hover {
    transform: translateY(-5px);
    background: linear-gradient(red, whitesmoke, lightpink);
    font-size: 25px;
    color: red;
}

.love {
    display: flex;
    align-items: center;
    justify-content: center;

    width:  120px;
    height: 50px;

    font-size: 20px;
    font-family: monospace;
    font-style: italic;
    font-weight: 900px;
    
    text-align: center;

    border: 2px solid;
    border-image: linear-gradient(pink, hotpink, lightpink)2;
    background: linear-gradient(pink, whitesmoke, whitesmoke);

    transition: 0.2s;

    cursor: pointer;
}

.no {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 120px;
    height: 50px;

    font-size: 20px;
    font-family: monospace;
    font-style: italic;
    font-weight: 900px;

    text-align: center;


    border: 2px solid;
    border-image: linear-gradient(pink, hotpink, lightpink)2;
    background: linear-gradient(pink, whitesmoke, whitesmoke);

    transition: 0.2s;

    cursor: pointer;
}

